.flex-vertical {
  display: flex  ;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      border-radius: 0.5rem;
      border: 1px dashed rgba(250, 128, 114, 0.13);
      align-items: center;
      justify-content: space-around;
      button{
        
        &:hover{
          border: 1px solid rgba(255, 192, 227, 0.199);
          box-shadow: 3px 3px rgba(248, 2, 195, 0.09), -0.2em 0 1em rgb(128, 0, 90, 0.5);
        }
      }
}